:root {
  --menu-focus-bg-color: rgba(226, 4, 255, 0.3);
}

.header {
  background-color: rgb(8, 8, 8);
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: center;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar__item:focus {
  background-color: var(--menu-focus-bg-color);
  outline: none;
}

.navbar__item:hover {
  background-color: var(--menu-focus-bg-color);
}
.global-footer {
  background: orange;
}
.global-footer__navbar {
  width: 600px;
  border: rgba(226, 4, 255, 0.3);
}
