:root {
  --body-bg-color: #eae5e5;
  --header-height: 118px;
  --page-conetnt-width: 960px;
  --title-color: #4d4d4d;
}

body {
  background-color: var(--body-bg-color);
}

.content-box {
  max-width: var(--page-conetnt-width);
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 255px);
}

.main__content {
  display: flex;
  padding-top: 118px;
}

.main__content > * {
  flex-grow: 1;
  flex-shrink: 1;
  width: 50%;
}

.global-footer {
  height: 137px;
  background-color: yellow;
}
